<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.jobtracker.daily</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>__START_SCRIPT__</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>JOBTRACKER_PROJECT_DIR</key>
      <string>__PROJECT_DIR__</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>7</integer>
      <key>Minute</key>
      <integer>55</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>/private/tmp/jobtracker-daily.out.log</string>
    <key>StandardErrorPath</key>
    <string>/private/tmp/jobtracker-daily.err.log</string>
  </dict>
</plist>
